/*-----------------------------------------------------------------------------// Custom Theme CSS/-----------------------------------------------------------------------------*//*---------------- Global Custom CSS -------------------*/{

    %- capture custom_style -%}

    /*-----------------------------------------------------------------------------// Custom Theme CSS/-----------------------------------------------------------------------------*//*---------------- Global Custom CSS -------------------*/{

    {

    settings.global_css }

    }

    /*---------------- Custom CSS for only desktop -------------------*/@media (min-width: 1025px) {

    {

    {

    settings.desktop_css }

    }

    }

    /*---------------- Custom CSS for tablet, mobile -------------------*/@media (max-width: 1024px) {

    {

    {

    settings.tablet_mobile_css }

    }

    }

    /*---------------- Custom CSS for only tablet -------------------*/@media (min-width: 768px) and (max-width: 1024px) {

    {

    {

    settings.tablet_css }

    }

    }

    /*---------------- Custom CSS for only mobile -------------------*/@media (max-width: 767px){

    {

    {

    settings.mobile_css }

    }

    }

    {

    %- endcapture -%}

    {

    {

    - custom_style | strip_newlines | remove: "" -}

    }

    /* any code css */.hover_button .nt_add_qv, .hover_button .pr_atc {

    text-transform: inherit !important;}

    .nt_pr h3.product-title {

    text-transform: inherit !important;}

    /*cambios de titulos*/#shopify-section-1581505838591 .section-subtitle {

    }

    #shopify-section-1581505838591 .section-title {

    font-weight: 300 !important;}

    #shopify-section-1590982963172 .section-subtitle {

    }

    #shopify-section-1590982963172 .section-title {

    font-weight: 300 !important;}

    #shopify-section-1591029249403 .section-subtitle {

    }

    #shopify-section-1591029249403 .section-title {

    font-weight: 300 !important;}

    /*cambios de titulos*/#shopify-section-1581505821233.cat_design_2 .cat_grid_item__title, .cat_design_3 .cat_grid_item__title {

     font-size: 40px; }

    .page-head h1 {

    font-weight: 500;}

    .coldbrew h3.product-title > a {

    color:#223746; }

    .coldbrew .cat_toolbar {

    display:none !important;}

    .cold-titulo {

    margin-right: 320px;margin-left: 320px;margin-bottom: 40px;margin-top: 0px;color:#223746;}

    @media (max-width: 500px) {

    #shopify-section-1581505821233.cat_design_2 .cat_grid_item__title, .cat_design_3 .cat_grid_item__title {

     font-size: 22px; }

     .cold-titulo {

    margin-right: 20px;margin-left: 20px;}

     }

    .page-head h1 {

     line-height: 40px; }

    ul.ul_none.ul_tabs.is-flex.fl_center.fs__16.des_mb_2.des_style_1 {

     display: none !important; }

    #bk_1581505821233-2 .cat_grid_item__wrapper {

    /* top: 14% !important; text-align: right;padding: 0 36px; */display:none;}

    #mc_embed_signup h2 {

    display:none;}

    .footer__top .menu li {

    line-height: 19px;}

    #shopify-section-footer_bot .col-lg-6 {

    font-size: 12px;}

    #shopify-section-footer_bota {

    font-size:14px;}

    #mc_embed_signup .mc-field-group label {

    color:#ffffff;font-size: 15px; font-weight: 600;}

    #mc_embed_signup .mc-field-group select {

    background: #ffffff;}

    .mc-field-group strong {


    color:#ffffff; ;font-size: 15px; font-weight: 600;}

    #s-ffd71a4c-d005-4db8-a7cd-e33ed098cae0 h3 {

    margin-top: 0px;}

    #bk_1581505821233-2 .cat_design_2 .cat_grid_item__link::before {

    background-color: #0000;}

    /*---------------- Custom CSS for only desktop -------------------*/@media (min-width: 1025px) {

    }

    /*---------------- Custom CSS for tablet, mobile -------------------*/@media (max-width: 1024px) {

    }

    /*---------------- Custom CSS for only tablet -------------------*/@media (min-width: 768px) and (max-width: 1024px) {

    }

    /*---------------- Custom CSS for only mobile -------------------*/@media (max-width: 767px){

    }

    /* any code css */
.hover_button .nt_add_qv, .hover_button .pr_atc {


    text-transform: inherit !important;
}



.nt_pr h3.product-title {


    text-transform: inherit !important;
}




/*cambios de titulos*/

#shopify-section-1581505838591 .section-subtitle {



  
}



#shopify-section-1581505838591 .section-title {



  font-weight: 300 !important;
}




#shopify-section-1590982963172 .section-subtitle {



  
}



#shopify-section-1590982963172 .section-title {



  font-weight: 300 !important;
}



#shopify-section-1591029249403 .section-title {



  font-weight: 300 !important;
}



/*cambios de titulos*/

#shopify-section-1581505821233  .cat_design_2 .cat_grid_item__title, .cat_design_3 .cat_grid_item__title {



 font-size: 40px; 

}



.page-head h1 {



  font-weight: 500;

}




.coldbrew h3.product-title > a {



  color:#223746; 

}



.coldbrew .cat_toolbar {



display:none !important;
  
}



.cold-titulo {



    margin-right: 320px;
    margin-left: 320px;
    margin-bottom: 40px;
      margin-top: 0px;
    color:#223746;
}




@media (max-width: 500px) {



#shopify-section-1581505821233  .cat_design_2 .cat_grid_item__title, .cat_design_3 .cat_grid_item__title {



 font-size: 22px; 

}


  
.cold-titulo {



    margin-right: 20px;
    margin-left: 20px;
  
}


  
 
  

}





.page-head h1 {



 line-height: 40px; 
  
}



ul.ul_none.ul_tabs.is-flex.fl_center.fs__16.des_mb_2.des_style_1 {


  
  display: none !important; 
}




#bk_1581505821233-2 .cat_grid_item__wrapper {



  /* top: 14% !important; 
  text-align: right;
  padding: 0 36px; */
  display:none;
  
}



#mc_embed_signup h2 {



display:none;
  
}



.footer__top .menu li {



    line-height: 19px;

}



#shopify-section-footer_bot .col-lg-6 {


  
font-size: 12px;
}




#shopify-section-footer_bot  a {



font-size:14px;
}




#mc_embed_signup .mc-field-group label {



color:#ffffff;
font-size: 15px;
 font-weight: 600;
  
}



#mc_embed_signup .mc-field-group select {



background: #ffffff;
}



.mc-field-group strong {



 color:#ffffff;
  font-size: 15px;
 font-weight: 600;
  
}




#s-ffd71a4c-d005-4db8-a7cd-e33ed098cae0 h3 {



    margin-top: 0px;
}




#bk_1581505821233-2 .cat_design_2 .cat_grid_item__link::before {



  background-color: #0000;

}




